version: '3.8' 
services: 
  api: 
    build: ./backend 
    ports: ["3000:3000"] 
    depends_on: [db] 
  db: 
    image: postgis/postgis:15-3.3-alpine 
    environment: 
      POSTGRES_USER: postgres 
      POSTGRES_PASSWORD: postgres 
      POSTGRES_DB: socimap_db 
    ports: ["5432:5432"] 
