version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3
    container_name: socimap_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: socimap
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data # Veritabanı silinmesin diye verileri kaydeder

  api:
    build: ./backend # DÜZELTİLDİ: Artık doğru klasöre bakacak
    container_name: socimap_api
    ports:
      - "3000:3000"
    environment:
      - DB_USER=admin
      - DB_PASSWORD=secretpassword
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=socimap
    volumes:
      - ./backend:/app          # DÜZELTİLDİ: Kodları doğru klasörden çekecek
      - /app/node_modules       
    depends_on:
      - db                      

volumes:
  pgdata: