version: '3.8'

services:
  db:
    image: postgis/postgis:15-3.3
    container_name: socimap_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secretpassword
      POSTGRES_DB: socimap
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data # Veritabanı silinmesin diye verileri kaydeder

  api:
    build: .
    container_name: socimap_api
    ports:
      - "3000:3000"
    environment:
      # Docker içinde veritabanı adresi "localhost" DEĞİL, servis adı olan "db"dir.
      - DB_USER=admin
      - DB_PASSWORD=secretpassword
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=socimap
    volumes:
      - .:/app                  # Kodda değişiklik yapınca anında yansıması için
      - /app/node_modules       # Modüllerin ezilmesini engellemek için
    depends_on:
      - db                      # Önce veritabanı açılsın, sonra API başlasın

volumes:
  pgdata: